script(type="text/javascript", src="js/vendor/jquery.min.js")
script(type="text/javascript", src="js/vendor/bootstrap.min.js")
script(type="text/javascript", src="js/vendor/angular.js")
script(type="text/javascript", src="js/vendor/angular-mocks-1.0.1.js")
script(type="text/javascript", src="js/vendor/sessionstorage.js")
script(type="text/javascript", src="js/vendor/jquery.gritter.min.js")
script(type="text/javascript", src="js/vendor/jquery.xml2json.js")

script(type="text/javascript", src="js/endpoint-mocks.js")