<!doctype html>
<!--[if lt IE 7]>      <html ng-app="blApp" ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="blApp" ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="blApp" ng-controller="AppCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="blApp" ng-controller="AppCtrl" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta name="fragment" content="!"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-controller="SiteCtrl">
    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    
    <div class="header container">
      <div class="pull-left branding">
        <div class="logo"><a href="/"><img src="assets/img/logo-thinkfun.gif"/></a></div>
        <div class="logo"><img src="assets/img/logo-brainlab.gif"/></div>
        <div class="tagline"><img src="assets/img/tagline.gif"/></div>
      </div>
      <div class="pull-right">
        <div class="social-links">
          <div class="icon twitter-icon"><a href="#"><img src=""/></a></div>
          <div class="icon googleplus-icon"><a href="#"><img src=""/></a></div>
          <div class="icon facebook-icon"><a href="#"><img src=""/></a></div>
        </div>
        <div data-ng-controller="LoginCtrl" class="account-login">
          <form data-ng-submit="loginUser()" data-ng-hide="authenticated" class="form-inline">
            <div class="controls">
              <input type="text" name="userName" data-ng-model="username" placeholder="Username" required="required" class="input-small span2"/>
              <input type="password" name="pwd" data-ng-model="password" placeholder="Password" required="required" class="input-small span2"/>
              <button type="submit" class="btn btn-small">Log In</button>
            </div>
            <div class="controls controls-row">
              <label class="checkbox pull-left">
                <input type="checkbox" value="true" name="saveUserSession" checked="checked"/>Remember me
              </label><span class="forgotPasswordLink pull-left"><a style="cursor:pointer" data-toggle="modal" bl-dialog-modal="/views/partials/modals/sendResetPassword.html" bl-dialog-context="sendResetPassword") >Forgot my password</a></span>
            </div>
          </form>
          <div data-ng-show="authenticated" class="account-menu">
            <div class="login">
              <span id="account-menu-dropdown" class="dropdown">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                  Hello, {{ user.firstname }} {{ user.lastname }}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/#/account">Account</a></li>
                  <li><a href="#">Settings</a></li>
                  <li class="divider"></li>
                  <li><a ng-click="logoutUser(user)" href="#">Log Out</a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-view></div>

    <script src="components/vendor/jquery.min.js"></script>
    <script src="components/vendor/bootstrap.min.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/vendor/sessionstorage.js"></script>
    <script src="components/vendor/jquery.gritter.min.js"></script>
    <script src="components/vendor/jquery.xml2json.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/Auth.js"></script>
    <script src="scripts/services/Routing.js"></script>
    <script src="scripts/controllers/Site.js"></script>
    <script src="scripts/controllers/App.js"></script>
    <script src="scripts/controllers/Main.js"></script>   
    <script src="scripts/controllers/ModalHeader.js"></script>
    <script src="scripts/controllers/JoinNow.js"></script>
    <script src="scripts/controllers/Account.js"></script>
    <script src="scripts/controllers/Register.js"></script>
    <script src="scripts/controllers/Login.js"></script>
    <script src="scripts/controllers/SendResetPassword.js"></script>
    <script src="scripts/controllers/Arcade.js"></script>
    <script src="scripts/directives/blDialogModal.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
