
<div data-ng-controller="ModalHeaderCtrl" class="modal-header">
  <button type="button" data-dismiss="true" aria-hidden="true" data-ng-click="close()" class="close">x</button>
</div>
<div data-ng-controller="SendResetPassword" class="modal-body">
  <h3>Send Reset Password</h3>
  <p>Enter your username and email address below and we'll send you a link to reset your password.</p>
  <form data-ng-submit="sendResetPassword()" id="sendResetPasswordForm">
    <div class="controls-group">
      <div class="controls controls-row">
        <label for="userName" class="span3">Username<span class="required">*</span></label>
        <label for="email" class="span3">Email<span class="required">*</span></label>
      </div>
      <div class="controls controls-row">
        <input type="text" name="userName" id="userName" data-ng-model="userName" required="required" class="span3"/>
        <input type="text" name="email" id="email" data-ng-model="email" placeholder="email@address.com" required="required" class="span3"/>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>