div.modal-header(data-ng-controller="ModalHeaderCtrl")
  button.close(type="button", data-dismiss="true", aria-hidden="true", data-ng-click="close()")
    | x
div.modal-body#SendResetPasswordModal(data-ng-controller="SendResetPassword")
  h3 Send Reset Password
  p Enter your username and email address below and we'll send you a link to reset your password.

  form(data-ng-submit="sendResetPassword()", id="sendResetPasswordForm")
    div.controls-group
      div.controls.controls-row
          label.span3(for="userName") Username
              span.required *
          label.span3(for="email") Email
              span.required *
      
      div.controls.controls-row
          input.span3(type="text", name="userName", id="userName", data-ng-model="userName", required)
          input.span3(type="text", name="email", id="email", data-ng-model="email", placeholder="email@address.com", required)

    button.btn.btn-flat(type="submit") Reset Password