
<!--include ../../views/partials/header.html-->
<div id="arcade-page" class="container">
  <div class="well well-small page-header page-header-custom">
    <p class="pull-left">Try out a game without signing up. Like what you see? Join Brain Lab to unlock our full selection of brain building games, activities & tracking features.</p>
    <h1 class="text-right">Brain Arcade</h1>
  </div>
  <div class="row-fluid">
    <div ng-repeat="game in games" class="gameThumbnail span2"><img src="http://placehold.it/120"/>
      <p>{{game.masterGame}}</p>
    </div>
    <div class="gameThumbnail span2"><img src="http://placehold.it/120"/></div>
    <div class="gameThumbnail span2"><img src="http://placehold.it/120"/></div>
    <div class="gameThumbnail span2"><img src="http://placehold.it/120"/></div>
    <div class="gameThumbnail span2"><img src="http://placehold.it/120"/></div>
    <div class="gameThumbnail span2"><img src="http://placehold.it/120"/></div>
    <div class="gameThumbnail span2"><img src="http://placehold.it/120"/></div>
  </div>
</div>